---
interface Props {
  name: string;
  size?: number;
  class?: string;
}

const { name, size = 24, class: className = '' } = Astro.props;
---

<span class:list={['icon', className]} aria-hidden="true" data-icon={name}>
  <slot />
</span>

<style>
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .icon :global(svg) {
    width: 1em;
    height: 1em;
  }
</style>
